@model medical_family_card.Models.UsrInfo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удаление</h1>

<h3>Вы действительно хотите удалить свою карту?</h3>
<div>
    <h4>UsrInfo</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrInfoFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrInfoFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrInfoLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrInfoLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrInfoMiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrInfoMiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrInfoBirthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrInfoBirthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Blood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Blood.BloodId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender.GenderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RhesusFactor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RhesusFactor.RhesusFactorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usr.UsrId)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UsrId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        @*<a asp-action="IsNotExist" asp-route-id="@User.Identity.Name">Вернуться к списку аллергий</a>*@
    </form>
</div>
