@model medical_family_card.Models.Visit

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Visit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usr.UsrId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VisitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
